@font-face {
    font-family: MiFuente;
    src: url(..//src/PlusJakartaSans-VariableFont_wght.ttf);
}
:root{
    --color-rosa-claro: #EAC39C;
    --color-azul: #927C72;
    --color-naranja: #D76D34;
    --color-marron: #2D1D1A;
    --color-rojo: #733727;  
}
body{
    background-color: var(--color-rosa-claro);
    font-family: MiFuente ;
    margin: 0;
    width: 80vw;
    margin-left: 10vw;
    padding-right: 10vw;
}
main{
  display: flex;
  margin-top: 5vh;
}
main section{
  width: 35vw;
}
main h1{
  color: var(--Color-Secundario);
  font-style: italic;
  font-size: 3rem;
    }
main h5{
  margin-bottom: 20vh;
}
nav {
  display: flex;
  align-items: center;
}

#icono {
  gap: 30px;
  display: flex;
  font-size: 25px;
  align-items: center;
}

#select-idioma {
  border: none;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: var(--color-rosa-claro);
  padding-left: 0px;
  font-family: MiFuente;
}


#select-idioma option {
  background-color: var(--color-rosa-claro);
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#idiomas {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#barraVertical {
  margin-left: 5px;
  font-size: 15px;
  color: var(--color-naranja);
}

.enlace {
  display: flexbox;
  margin-left: 20px;
  font-size: 11px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  width: max-content;
  color: black;
  text-decoration: none;
  font-family: MiFuente;
}
.enlace p{
  width: max-content;
}
#enlace:hover{
  background-color: rgba(229, 229, 229, 0.4);
}
#resalte{
  font-weight: bold;
  color: var(--Color-UI);
}
#cienPeliculas{
  display: flex;
  align-items: center;
  position: relative;
  animation: desplazamientoLateralInverso 2s ;
}
#cienPeliculas img{
  margin-right: 1vw;
  width: fit-content;
  width: 7vw;
  height: 5vh;
}
#cienPeliculas p{

  text-align: justify;
}
#titulo{
position: relative;
animation: desplazamientoLateral 2s;
}
#descripcion{
  position: relative;
  animation: desplazamientoLateral 4s;
}
@keyframes desplazamientoLateral {
  from{
    left: -50%;
    opacity: 10%;
  }to{
    left: 0;
    opacity: 100%;
  }
}
@keyframes desplazamientoLateralInverso {
  from{
    left: 50%;
    opacity: 10%;
  }to{
    left: 0;
    opacity: 100%;
  }
}
@keyframes desplazamientoVertical {
  from{
    top: -0%;
    opacity: 10%;
  }to{
    top: 25%;
    opacity: 100%;
  }
}

#contenedorImagen{
  position: absolute;
  top: 25%;
  right: 10%;
  animation: desplazamientoVertical 2s;
  width: fit-content;
  border-radius: 1vb;
  box-shadow: 0px 1rem 20rem var(--color-naranja);
}
#contenedorImagen img{
  border-radius: 1vb;
  border: 0.3cap solid var(--color-marron);
  box-shadow: -2px 3px 3px var(--color-marron);
  width: 60cap;

}
@media (max-width:992px) {
  @keyframes desplazamientoVertical {
    from{
      top: -0%;
      opacity: 10%;
    }to{
      top: 40%;
      opacity: 100%;
    }
  }
  h5{
    margin-bottom: 50vh;
  }
  #contenedorImagen {
    top: 40%;
  }
  #contenedorImagen img{
    width: 30cap;
  }
}