@font-face {
    font-family: MiFuente;
    src: url(..//src/PlusJakartaSans-VariableFont_wght.ttf);
}
:root{
    --color-rosa-claro: #EAC39C;
    --color-azul: #927C72;
    --color-naranja: #D76D34;
    --color-marron: #2D1D1A;
    --color-rojo: #733727;  
}
nav {
  height: 12vh;
  display: flex;
  align-items: center;
}
#icono {
  display: flex;
  gap: 1.3rem;
  align-items: center;
}
#icono img{
  max-width: 100%;
  height: auto;
}

.textoHeader{
  font-size: 1.2rem;
}
#idiomas {
  align-items: center;
  margin-left: auto;
  display: flex;
}
#idiomas img{
  width: 2rem;
  height: auto;
}
#barraVertical {
  margin-left: 5%;
  color: var(--color-naranja);
}
.enlace {
  background-color: var(--color-marron);
  margin-left: 1vw;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  color: black;
  text-decoration: none;
  font-family: MiFuente;
}
.enlace p{
  color: var(--color-rosa-claro);
  margin: 1vh;
  width: max-content;
  font-size: 0.8rem;
}
.enlace:hover{
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
#resalte{
  font-weight: bold;
}
.click {
  cursor: pointer;
}
@media (max-width:944px){
  #textoLogo{
    display: none;
  }
}
/*HeaderLimit*/
/*Wrapper*/
.indexBody{
    background-color: var(--color-rosa-claro);
    font-family: MiFuente ;
    margin: 0;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
/*parche*/
.indexMain{
  display: flex;
  margin-top: 5vh;
}
.indexMain section{
  width: 35vw;
}
.indexMain h1{
  font-style: italic;
  font-size: 3vw;
  }
#cienPeliculas{
  position: relative;
  display: flex;
  align-items: center;
  animation: desplazamientoLateralInverso 2s ;

}
#contenedorImagen{
  position: absolute;
  align-self: center;
  right: 10%;
  border-radius: 1vb;
  animation: desplazamientoVertical 2s;
  width: 50%;
}
#contenedorImagen img{
  max-width: 100%;
  height: auto;
  border-radius: 1vb;
  border: 0.2vw solid var(--color-marron);
  box-shadow: 0 0 10rem var(--color-naranja);
}
#titulo{
  position: relative;
  animation: desplazamientoLateral 2s;
}
#descripcion{
  font-size: 1vw;
  margin-bottom: 20vh;
  position: relative;
  animation: desplazamientoLateral 4s;
}
#vistaMenuMovil{
  display: none;
}
/*animaciones de entrada a los textos */
@keyframes desplazamientoLateral {
  from{
    left: -50%;
    opacity: 10%;
  }to{
    left: 0;
    opacity: 100%;
  }
}
@keyframes desplazamientoLateralInverso {
  from{
    left: 50%;
    opacity: 10%;
  }to{
    left: 0;
    opacity: 100%;
  }
}
@media (max-width:1200px) {
  #descripcion{
    margin-bottom: 10vh;
  }
  #cienPeliculas{
    width: 50vw;
  }
  #contenedorImagen{
    top: 20%;
    width: 50%;
  }
}
@media(max-width: 994px){
  #titulo{
    font-size: 2.2rem;
  }
  #descripcion{
    font-size: 1rem;
  }
  #contenedorImagen {
    top: 10%;
    width: 30%;
    height: auto;
  }
  #vistaMenuPc {
    display: none;
  }
  #vistaMenuMovil{
    display: block;
  }
}
@media (max-width: 768px) {
  #titulo{
    width: 80vw;
    font-size: 2rem;
  }
  #descripcion{
    width: 90vw;
    margin-bottom: 5vh;
    font-size: 0.8rem;
  }
  #cienPeliculas{
    display: block;
  }
  #cienPeliculas img{
    width: 13%;
  }
  #contenedorImagen{
    top: 10%;
    width: 30%;
  }

  #cienPeliculas{
    font-size: smaller;
    width: 100vw;
  }
}
@media (max-width:576px) {
  .indexMain {
    width: 50vw;
    margin-left: 15vw;
  }
  #contenedorImagen{
    top: 65%;
    right: 20%;
    width: 50%;
  }
}
