@font-face {
    font-family: MiFuente;
    src: url(..//src/PlusJakartaSans-VariableFont_wght.ttf);
}
:root{
    --Color-De-Fondo:rgba(239, 205, 170, 1);
    --Color-UI: #D76D34;
    --Color-Secundario:#733727; 
}
body{
    background-color: var(--Color-De-Fondo);
    font-family: MiFuente ;
    margin: 0;
    width: 80vw;
    margin-left: 10vw;
    padding-right: 10vw;
}   
nav {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
}

#icono {
  gap: 30px;
  display: flex;
  font-size: 25px;
  align-items: center;
}

#select-idioma {
  border: none;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #EAC39C;
  padding-left: 0px;
}


#select-idioma option {
  background-color: #EAC39C;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#idiomas {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#barraVertical {
  margin-left: 5px;
  font-size: 15px;
  color: #D76D34;
}

#enlace {
  display: flexbox;
  margin-left: 20px;
  font-size: 11px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  color: black;
  text-decoration: none;
}

#enlace:hover{
  background-color: rgba(229, 229, 229, 0.4);
}
    main{
        margin-top: 10vh;
    }
    main section{
        width: 35vw;

    }
    main h1{
        color: var(--Color-Secundario);
        font-style: italic;
        font-size: 3rem;
        
    }
    main h5{
        margin-bottom: 20vh;
    }
    #resalte{
        font-weight: bold;
        color: var(--Color-UI);
    }
    #cienPeliculas{
        display: flex;
        align-items: center;
    }
    #cienPeliculas img{
        margin-right: 1vw;
        width: fit-content;
        width: 7vw;
        height: 5vh;
    }
    #cienPeliculas p{
        
        text-align: justify;
    }