:root{
    --color-rosa-claro: #EAC39C;
    --color-azul: #927C72;
    --color-naranja: #D76D34;
    --color-marron: #2D1D1A;
    --color-rojo: #733727;  
}
#subContenedor{
    display: flex;
    flex-direction: column;
    box-shadow: -0.3rem 0.2rem 0.5rem var(--color-marron);
    background-color:var(--color-azul) ;
    color: var();
    width: 60%;
    margin-left: 15%;
    border-radius: 1rem;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 5vh;
    justify-content: center;
    align-items: center;
}
#subContenedor h1{
    text-shadow:  -0.2rem 0.1rem 0.1rem var(--color-rojo);
    text-align: center;
}
form{
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    
}

#email{
    width: 100%;
    grid-row: 2;
}
/*los portatiles como vista predeterminada tienen el campo de año ubicado arriba a la derecha*/ 
#año{
    width: 50%;
    grid-column: 2;
    grid-row: 1;
}
#pelicula{
    width: 100%;
    grid-column: 1;
    grid-row: 1;

}
#idiomaPelicula{
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
    width: 25%;
    grid-row: 3;
    grid-column: 1/3;
}
#labelOfertas{
    grid-row: 4;
}
#labelActualizaciones{
    grid-row: 5;
}
#labelDeclaraciones{

    grid-row: 6;
}
#enviar{

    grid-row: 7;
}
form input{
    background-color: #1f2029 ;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
    color: white;
    width: 50%;
    border-radius: 5px;
    height: 48px;
    font-size: 14px;
    letter-spacing: 0.5px;
}
form input:focus{
    color: black;
    background-color: white;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
form select{
    background-color: #1f2029 ;
    color: white;
    border-radius: 5px;
    height: 48px;
    width: 30.5vw;
}
form section{
    display: flex;
    align-items: center;    
}

#enviar{
    cursor: pointer;
}
.cajas{
    border: 1px solid var(--color-rosa-claro);
    background-color: var(--color-marron);
    appearance: none;
    height: 3.5vh;
    width: 2vw;
    padding-right: 3cap;
    padding-bottom: 2cap;
}
.cajas:focus{
    outline: none;
    background-color: unset;
    
}
/* Cambiar propiedades de los checkbox tras ser marcados (cambia el tick, los colores y la posicion del tick*/
input[type="checkbox"]:checked::after {
    color: var(--color-marron);
    content: "X";
    font-weight: bold;
    font-style: oblique;
    position: relative;
    top: 0.5cap;
    left: 1cap;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
.cajas:checked{
    border: 1px solid var(--color-marron);
    background-color: var(--color-naranja);
}

@media (max-width:1400px) {
    #subContenedor h1{
        font-size: 3.5rem;
    }
    #año{
        width: 80%;
    }
    #idiomaPelicula{
        width: 40%;
    }
    form section label{
        margin-right: -30%;
    }

}
@media (max-width:1200px) {
    #subContenedor h1{
        font-size: 3rem;

    }
    #año{
        width: 50%;
    }
    form section label{
        margin-right: -30%;
    }
}
@media (max-width: 992px) {
    #subContenedor h1{
        font-size: 2rem;
    }
    #nombreLogo{
        display: none;
    }
    body{
        margin: 0;
        margin-left: 10vw;        
    }
    form{
        width: 90%;
        grid-template-columns: auto; 
    }
    #subContenedor{
        margin: 0;
        width: 80vw;
        padding-left: 0;
    }
    #email{
        width: 100%;
        grid-column: 1;
        grid-row: 1;
    }
    #pelicula{
        width: 100%;
        grid-column: 1;
        grid-row: 2;
    }
    #año{
        width: 50%;
        grid-column: 1;
        grid-row: 3;
    }
    #idiomaPelicula{
        box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
        width: 51%;
        grid-column: 1;
        grid-row: 4;
    }
    #labelOfertas{
        width: 100%;
        grid-row: 5;
    }
    #labelActualizaciones{
        width: 100%;
        grid-row: 6;
    }
    #labelDeclaraciones{
        width: 100%;
        grid-row: 7;
    }
    #enviar{
        margin-top: 2vh;
        justify-self: center;
        grid-row: 8;
    }
    input[type="checkbox"]:checked::after {
        left: 1vw;
      }
      form section label{
        font-size: small;
        margin-right: 0 ;
    }
}
