:root{
    --color-rosa-claro: #EAC39C;
    --color-azul: #927C72;
    --color-naranja: #D76D34;
    --color-marron: #2D1D1A;
    --color-rojo: #733727;  
    --color-negro:#1f2029;
}
main{
    display: grid;
    justify-content: center;
}
#tituloSolicitud{
    color: var(--color-marron);
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
}
form{
    display: grid;
    border-radius: 0.3rem;
    color: var(--color-rojo);
    font-size: 1.1rem;
    font-weight: bold;
    padding-top:4vh ;
    padding-bottom:4vh ;
    padding-left:4vw ;
    padding-right:4vw ;
    background-color: var(--color-azul);
    width: 40vw;
}
form input{
    color: white;
    height: 1.6rem;
    border-radius:0.3rem ;
    background-color: var(--color-negro);
    box-shadow: 5px 2px 1px  var(--color-negro);
}
form select{
    color: white;
    height: 1.6rem;
    border-radius:0.3rem ;
    background-color: var(--color-negro);
    box-shadow: 5px 2px 1px  var(--color-negro);
}
